/*
    Font color = rgb(254, 106, 56)
    background color = rgb(24, 33, 40)
*/

* {
    margin: 0 auto;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    overflow: hidden;
}

body {
    background-color: rgb(24, 33, 40);
}

h1 {
    color: rgb(254, 106, 56);
}

img {
    max-width: 25%;
    height: 100%;
}

.main-structure {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    flex-grow: 1;
    margin-top: 4%;
    width: 65rem;
    row-gap: 3.2rem;
}

.title {
    display: flex;
    gap: 2rem;
    width: 55rem;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

h2 {
    font-size: 2.4rem;
}

.arrow {
    width: 3.2rem;
}

.arrow.back {
    color: rgb(95, 95, 95);
}

.arrow.back:hover {
    cursor: pointer;
    color: rgb(254, 106, 56);
}

.excercises-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4.2rem;
    margin: 0 auto;
    color: white;
    /* width: 100%; */
}

.list-parent {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.lista {
    margin: 0;
    padding-right: 1.2rem;
    display: inline-block;
    text-align: left;
    line-height: 2.0rem;
}


.list-link,
.list-link:active,
.list-link:visited {
    /* margin: 0; */
    font-size: 1.2rem;
    text-decoration: none;
    color: rgb(254, 106, 56);
}

.list-link:hover {
    /* font-weight: 700; */
    color: rgb(255, 175, 148);
}

footer {
    color: white;
}